@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  background-color: rgb(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-weight: bold;
  font-size: 20px;
}

.navbar ul li a {
  text-decoration: none;
  padding: 8px 35px;
  color: beige;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  background-color: white;
  border-radius: 5px;
  color: #2397c9;
}

#home {
  display: flex;
  flex-direction: column;

  height: 840px;
  justify-content: center;
  align-items: center;
  color: black;
}

#home ::before {
  content: "";
  top: 0;
  position: absolute;
  right: 0;
  background-image: url(background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 840px;
  width: 100%;
  z-index: -1;
  opacity: 0.8;
}

.heading {
  color: #2397c9;

  font-size: 3rem;
  font-weight: 700;
  margin: 40px 0px;
}

.heading span {
  font-weight: 700;
  font-size: 3rem;
}

#about {
  background-image: linear-gradient(#161f4c, #d9d9d9);
  flex-direction: column;
  height: 840px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  margin-bottom: 50px;
}

.intro {
  margin-left: 20%;
  margin-right: 20%;
  height: 720px;
  padding-top: 100px;
}
.image img {
  float: right;
  width: 500px;
  height: 450px;
}

.intro img {
  opacity: 1;
}

.intro span {
  font-size: 60px;
  font-weight: 600;
  color: #2397c9;
}

.intro p {
  padding-top: 5px;
  width: 700;
  font-size: 16px;
}

#skill {
  top: 0;
  display: flex;
  background-color: #a8d9ef;
  flex-direction: column;
}

.judul {
  margin-left: 35%;
  margin-left: 35%;
}

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin-bottom: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  border: 1px solid;
  margin: 10px;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background-size: 100% 200%;
}

.box img {
  background-color: white;
  margin: auto;
}

#contact {
  height: 210px;
  width: 100%;
  background-color: #161f4c;
}

.contact {
  width: 1200px;
  height: 210px;
  margin: auto;
  color: aqua;
  font-weight: bold;
}

.contact p {
  padding-top: 20px;
}
.contact ul li {
  padding-top: 10px;
  padding-left: 15px;
  list-style: none;
}
